:root{
    --cor0: #5e1dad;
    --Cor1: #141414;
    --Cor2: #ffffff;
}
h1,p,h2,h3,h4,h5,h6{
    color: var(--Cor2);
}
body{
    background-color: var(--Cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}
input{
    color: var(--Cor2);
    background-color: #5e1dad;
    font-size: 3em;
    width: 200px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}