:root{
    --cor0: #5e1dad;
    --Cor1: #141414;
    --Cor2: #ffffff;
}
*{
    color: var(--Cor2);
}
body{
    background-color: var(--Cor1);
}
input{
    color: var(--Cor2);
    background-color: var(--cor0);
}